<launch>

  <!-- Global settings and includes -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="-3.0"/>
  <arg name="y_pos" default="1.0"/>
  <arg name="z_pos" default="0.0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find roboconvoy)/data/generated_data/3dworlds/newmodel.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Robot 1 Namespace Group -->
  <group ns="robot1">
    <arg name="x_pos_1" default="1"/>
    <arg name="y_pos_1" default="1"/>
    <arg name="z_pos_1" default="0"/>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model turtlebot3_1 -x $(arg x_pos_1) -y $(arg y_pos_1) -z $(arg z_pos_1) -param robot_description" />
    <!-- Additional nodes and configurations specific to Robot 1 -->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    </node>
  </group>

  <!-- Robot 2 Namespace Group -->
  <group ns="robot2">
    <arg name="x_pos_2" default="-2"/>
    <arg name="y_pos_2" default="-1"/>
    <arg name="z_pos_2" default="0"/>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model turtlebot3_2 -x $(arg x_pos_2) -y $(arg y_pos_2) -z $(arg z_pos_2) -param robot_description" />
    <!-- Additional nodes and configurations specific to Robot 2 -->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    </node>
  </group>

  <!-- Robot 3 Namespace Group -->
  <group ns="robot3">
    <arg name="x_pos_3" default="-3"/>
    <arg name="y_pos_3" default="1"/>
    <arg name="z_pos_3" default="0"/>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model turtlebot3_3 -x $(arg x_pos_3) -y $(arg y_pos_3) -z $(arg z_pos_3) -param robot_description" />
    <!-- Additional nodes and configurations specific to Robot 3 -->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    </node>
  </group>

  <!-- Robot 4 Namespace Group -->
  <group ns="robot4">
    <arg name="x_pos_4" default="2"/>
    <arg name="y_pos_4" default="2"/>
    <arg name="z_pos_4" default="0"/>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model turtlebot3_4 -x $(arg x_pos_4) -y $(arg y_pos_4) -z $(arg z_pos_4) -param robot_description" />
    <!-- Additional nodes and configurations specific to Robot 4 -->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    </node>
  </group>

  <!-- Other Global Nodes -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)"/>
  </include>

 <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot3_gazebo)/rviz/turtlebot3_gazebo_model.rviz"/>

  <!-- Include gmapping launch file -->
  <!-- <include file="$(find turtlebot3_slam)/launch/turtlebot3_gmapping.launch"> -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find roboconvoy)/data/generated_data/maps_for_server/map_3d_00.yaml"/>
  <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 100" />
    <!-- Add any additional arguments or parameters if needed -->
  <!-- </include> -->
</launch>
